$font-family: "Raleway", sans-serif;
$font-size-base: 1rem;
$max-width: 80rem;
$primary-color: #253974;
$text-color: #202020;
$button-color: #253974;
$button-hover-color: #1b48b2;
$card-background: #fff;
$card-border-radius: 0.5rem;
$card-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$card-padding: 1rem;
$bg-background: #f2f2f2;
